# reference: https://www.hostwinds.com/guide/defining-regex-characters-htaccess/

#Disable caching
<IfModule mod_headers.c>
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires 0
</IfModule>

# Disable directory browsing 
Options -Indexes

# Hide the contents of directories
IndexIgnore *

# Deny access to .htaccess
<Files .htaccess>
Order allow,deny
Deny from all
</Files>





